*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    display: flex;
    
}.dark{
    background-color:white;
    color:black;
}
#mode{
    border:none;
    background-color:black;
    color: #fff;
}
#mode:hover{
    background-color:white;
    color: black;
}
#side_nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    
    /* flex-direction: column; */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clock {
    font-size: 24px;
    font-weight: bold;
}
/* for side nav bat */
.log{
    display: flex;
    justify-content: space-evenly;
    padding-top:60px ;
    h2{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
}
/* item list contetn */
.item li i {
    color: rgb(134,141,151);
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    
}
/* anchor tag */
.item a {
        text-decoration: none;
        color: white;
}
/* hover */
.item li:hover{
    background-color:white;
    color: black;
    border-radius: 5px;
    padding-top: 8px;
}
/* list inside of item */
.item li{
    margin: 50px;
    gap: 25px;
    margin-top: 80px;
}
/* for section top nav */
.top_nav{
    height: 8vh;
    width: 100%;
    background-color:red;
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: 10px 10px lightblue;
    border-bottom: 4px red;
    display: flex;
    justify-content: space-around;
    color: black;
    i{
        color: black;
    }

}
/* main */
.main_content{
    position: relative;
    background-color: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.headw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px 2rem;
    border-radius: 50px;
}
.search_box{
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding:10px 15px;

}
.search_box img{
    width: 50px;
}
/* for icons setting of top nav bar */
.user-info{
    border-radius: 15px;
    display: flex;
    /* justify-content: space-around; */
    gap: 25px;
}
.search_box input{
    background-color: transparent;
    border-radius:10px ;
    border: 1px red;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
}
/* for all the gird */
.grid_main_box{
    display: grid;
    display: wrap;
    grid-template-columns: repeat(4,2fr);
    grid-row: 1;
    padding-top: 50px;
    padding-bottom:50px;
    background-color:#fff ;
    margin-top: 25px;
    border-radius: 15px;
    background-color:aliceblue;
    border: 5px black;
    gap: 20px; 
    padding-left: 25px;
    
    
}
.grid_box1{
    border: 5px black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    background-color: black;
    border-radius: 25px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
}
/* for table main data and info */
#puschase{
    font-size: 20px;
    margin-top: 25px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 25px;

}
.tab{
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 25px;
    border-radius: 25px;
}
.tab thead{
    border-radius: 25px;
    background-color: red;
}
/* for clock */
#time{
    margin-top: 35px;

}
